.profile {}
.profile h1 {
    font-size: 2.0rem;
    font-weight: 700;
    line-height: 1.7;
}
.profile .ambition_g {}
.profile .ambition_g img {}
.profile .ambition_g .ambition {
    font-size: 2.15rem;
    font-weight: 500;
    line-height: 1.5;
}
.profile .ambition_g .ambition em {font-weight: 600;}

.profile ul.basic {}
.profile ul.basic li {
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4;
}
.profile ul.basic li img {}

.profile h2.skills {color: #000;}
.profile dl.skills {}
.profile dl.skills dt.design {}
.profile dl.skills dt.design dd img {}
.profile dl.skills dt.coding {}
.profile dl.skills dt.coding dd img {}
.profile dl.skills dt.colab {}
.profile dl.skills dt.colab dd img{}

.profile h2 {
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.2;
    color: rgb(109, 109, 109);

}
.profile ul.experience {}
.profile ul.experience li span {
    font-size: 1.1rem;
    line-height: 1.5;
}
.profile ul.experience li span.date{font-weight: 500;}
.profile ul.experience li span.name{}
.profile ul.license {}
.profile ul.license li span {
    font-size: 1.1rem;
    line-height: 1.1;
}
.profile ul.license li span.date {font-weight: 500;}
.profile ul.license li span.name {}