.profile {}
.profile h1 {/*이 위치 작성 금지*/
    font-weight: 700; /*글자굵기 기본값은 400, 더 얇거나 굵게 하고 싶을 때 값 적용*/
    font-size: 2.0rem;  /*32px을 em단위로 변환한 값*/
    color: #4682A9;

    /*글꼴 연결 시 개인이 다운받은 유무료글꼴 등 일반 사용자에게 없는 글꼴은 사용해선 안된다.*/
    /*기본 컴퓨터 설치글꼴(고딕,굴림,바탕,궁서,맑은고딕 등)을 제외한 디자인 글꼴을 사용하고 싶다면 일반적으로 웹 속도 등을 고려하여 웹 글꼴을 사용하는 것이 가장 좋다.*/
    /*글꼴명에 따옴표를 붙이는 경우는 글꼴명에 한글 또는 공백이 있을 경우만 작성한다*/
}
.profile .ambition_g {}
.profile .ambition_g .photo {}
.profile .ambition_g .photo img {}
.profile .ambition_g .ambition {
    font-size: 2.13em;
    line-height: 1.5; /*1.5 = 15%*/ 
}
.profile .ambition_g em {
    font-weight: 700;
    color: #4682A9;
}
.profile ul.basic {
    font-size: 1.25rem;
}
.profile ul.basic li {
    line-height: 1.7;
}
.profile h2 {
    font-weight: 600;
    font-size: 1.88rem;
}
.profile ul.experience {}
.profile ul.experience li {
    font-size: 1.06rem;
    line-height: 1.5;
    letter-spacing: -0.04;
    /* word-spacing: 5px; */
}
.profile ul.experience li span.date {font-weight: 500;}
.profile ul.experience li span.name {}
.profile ul.license {}
.profile ul.license li {
    font-size: 1.06rem;
    line-height: 1.5;
}
.profile ul.license li span.date {font-weight: 500;}
.profile ul.license li span.name {}

/* .profile ul.experience,.license li {font-size: 1.06rem;}
/* .profile ul.experience,.license .date,.date {font-weight: 500;}
.profile ul.experience,.license li span.date {font-weight: 500;} */
