
.h_bg header * {color: #fff;}
.h_bg {
    background-color: #111;
    width: 100%; margin: 0 auto;
    position: fixed; top: 0; left: 0; z-index: 99;
}
.h_bg header {
    max_width: 1400px; margin: 0 auto; height: 125px;
    display: flex; flex-flow: row nowrap; align-items: center;
    
}
.h_bg header h1 {}
.h_bg header h1 a {}
.h_bg header h1 a img {}
.h_bg header .h_right {
    width: calc(100% - 150px);
    padding-left: 20px;
}
.h_bg header .h_right .h_top {
    float:right;
    display:flex; flex-flow:row nowrap;
    margin-bottom:25px;
}
.h_bg header .h_right .h_top .search {}
.h_bg header .h_right .h_top .search > a {}
.h_bg header .h_right .h_top .search > a img {}
/* ===========================================Strat :모바일 출력 메뉴 */
.h_bg header .h_right .h_top .search .m_all_nav {

}
.h_bg header .h_right .h_top .search .m_all_nav img {}
/* ===========================================모바일 메뉴 - 전체 서브메뉴*/
.h_bg header .h_right .h_top .search {}
.h_bg header .h_right .h_top .search .m_nav {
    position: fixed; top: 100px; left: 0; z-index: 99;
    width: 100%; text-align: center;
    background-color: darkseagreen;
}
.h_bg header .h_right .h_top .search .m_nav .m_nav_top {
    background-color: darksalmon;
    padding: 45px 0;
}
.h_bg header .h_right .h_top .search .m_nav .m_nav_top a {}
.h_bg header .h_right .h_top .search .m_nav nav {
    background-color: darkolivegreen;
}
.h_bg header .h_right .h_top .search .m_nav nav > ul {}
.h_bg header .h_right .h_top .search .m_nav nav > ul > li {margin-bottom: 30px;}
.h_bg header .h_right .h_top .search .m_nav nav > ul > li > a {}
.h_bg header .h_right .h_top .search .m_nav nav > ul > li .active {
    display: inline-block; margin-bottom: 30px;
    position: relative;
}
.h_bg header .h_right .h_top .search .m_nav nav > ul > li .active::before {
    content: ''; display: inline-block; width: 16px; height: 16px;
    background: url(../images/m_sub_drop.png) no-repeat;
    position: absolute; right: -17px; top: 2px;
}
.h_bg header .h_right .h_top .search .m_nav nav > ul > li .m_sub {
    background-color: #fff; padding: 20px 0;
}
.h_bg header .h_right .h_top .search .m_nav nav > ul > li .m_sub li {margin-bottom: 20px;}
.h_bg header .h_right .h_top .search .m_nav nav > ul > li .m_sub li:last-child {margin-bottom: 0;}
.h_bg header .h_right .h_top .search .m_nav nav > ul > li .m_sub li a {color: #111;}
/* ===========================================End :모바일 출력 메뉴 */

.h_bg header .h_right .h_top > a {
    margin-left:16px;
    font-size:0.88rem; letter-spacing: -0.02em;
}
/* ============================================================모바일 전체 메뉴 숨기기 */
.h_bg header .h_right .h_top .search .m_all_nav {display: none;}
.h_bg header .h_right .h_top .search > a:nth-of-type(4) {margin-right: 0;}
.h_bg header .h_right .h_top .search > a img {}
/* =========================================header 검색팝업(S) */
.h_bg header .h_right .h_top .search .search_popup {
    background-color: #111;
    position: fixed; /* 겹쳐지면서 고정이 됨 -> 좌표 필수*/ right: 0; top: 0;
    width: 350px; height: 100vh;
    padding: 20px;
    display: none; /* 초기 숨기기(검색 아이콘 클릭 시에만 출력 대상) */
}
.h_bg header .h_right .h_top .search .search_popup > * {margin-bottom: 50px;}
.h_bg header .h_right .h_top .search .search_popup .close_btn {float: right;}
.h_bg header .h_right .h_top .search .search_popup .close_btn img {}
.h_bg header .h_right .h_top .search .search_popup #searchFrm {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    clear: both;
    border-bottom: 1px solid #fff;
    padding-bottom: 7px;
}
.h_bg header .h_right .h_top .search .search_popup #searchFrm input[name$=search]::placeholder {color: #aaa;}
.h_bg header .h_right .h_top .search .search_popup #searchFrm input[name$=search] {
    background: none; width: calc(100% - 25px);}
.h_bg header .h_right .h_top .search .search_popup #searchFrm #search_btn {}
.h_bg header .h_right .h_top .search .search_popup h2 {
    font-size: 1.13rem; letter-spacing: -0.02em; font-weight: 500;
}
.h_bg header .h_right .h_top .search .search_popup .search_list {}
.h_bg header .h_right .h_top .search .search_popup .search_list li {
    display: flex; flex-flow: row nowrap;
    margin-bottom: 14px;
    background-color: darkkhaki;
}
.h_bg header .h_right .h_top .search .search_popup .search_list li:last-child {margin-bottom: 0;}
.h_bg header .h_right .h_top .search .search_popup .search_list li .num,
.h_bg header .h_right .h_top .search .search_popup .search_list li .keywords {font-size: 0.94rem; letter-spacing: -0.02em;}
.h_bg header .h_right .h_top .search .search_popup .search_list li .num {margin-right: 20px;}
.h_bg header .h_right .h_top .search .search_popup .search_list li .keywords {width: calc(100% - (14px + 8px));}
.h_bg header .h_right .h_top .search .search_popup .search_list li .rating {}
.h_bg header .h_right .h_top .search .search_popup .search_list li .rating img {}
.h_bg header .h_right .h_top .search .search_popup .keywords_recommend {
    display: flex; flex-flow: row wrap;
    padding: 7px 7px 0;
}
.h_bg header .h_right .h_top .search .search_popup .keywords_recommend a:nth-of-type(3),
.h_bg header .h_right .h_top .search .search_popup .keywords_recommend a:nth-of-type(5) {margin-right: 0;}
.h_bg header .h_right .h_top .search .search_popup .keywords_recommend a {
    border: 1px solid #fff; border-radius: 20px;
    padding: 10px 15px;
    margin : 0 5px 7px 0;
}

/* =========================================header 검색팝업(E) */
.h_bg header .h_right .h_btm {
    clear: both; /* 이전 형제 앞에 적용된 모든 방향의 float를 제거함 */
    display: flex; flex-flow: row nowrap; justify-content: space-between;
} 
.h_bg header .h_right .h_btm a {font-size: 1.25rem; font-weight: 500; letter-spacing: -0.02em;}
.h_bg header .h_right .h_btm .h_b_left {}
.h_bg header .h_right .h_btm .h_b_left > a {margin-right: 28px;}
.h_bg header .h_right .h_btm nav {}
.h_bg header .h_right .h_btm nav > a {margin-right: 45px;}
.h_bg header .h_right .h_btm .h_b_left > a:last-child,
.h_bg header .h_right .h_btm nav > a:nth-of-type(4) {margin-right: 0;}
/* =========================================header 서브(S) */
.h_bg header .h_right .h_btm nav .sub_bg {
    display: none;
    background-color: #111;
    position: absolute; left: 0; top: 125px; width: 100%; margin: 0 auto;
    /* absolute, fixed 작성 시 반드시 좌표+width 속성도 함께 써야 한다 */
}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents {
    max_width: 1400px; margin: 0 auto; height: 240px;
    display: flex; flex-flow: row nowrap; padding: 40px 0 0;
}
/* depth 1 & 2 공통 태그 */
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth1, 
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 {width: 200px; padding-left: 20px;}
/* depth 1 & 2 공통 a 태그 */
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth1 li a,
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub li a {display: block; padding-bottom: 20px;}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth1 {}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth1 li:last-child,
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub li:last-child {margin-bottom: 0;}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth1 li,
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub li {}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth1 .active a {border-bottom: 2px solid #fff; padding-bottom: 7px; margin-bottom: 13px;}
/* ============================================================================공통선택자 */
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 {}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub {}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub li {}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub li a {}
/* ============================================================================개별선택자 */
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub1 {}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub1 li {}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub1 li a {}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub2 {display: none;}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub2 li {}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub2 li a {}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub3 {display: none;}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub3 li {}
.h_bg header .h_right .h_btm nav .sub_bg .sub_contents .depth2 .sub3 li a {}
/* =========================================header 서브(E) */
/* =========================================main */
main {}
/* =========================================main1. 광고배너 */
main .slides_wrap {
    height: 650px; /* 배너 높이 고정(광고배너는 광고 요소에 따라 글자 단락이 다 다르기 때문에 내용 기준으로 자동높이 설정 시 높낮이가 배너에 따라 달라지는 불균형 문제가 발생한다. 따라서 광고 배저는 높이를 px로 고정해야하는 경우들이 많다. */
    position: relative;
    background-color: dimgray;
}
main .slides_wrap .slides_container {
    background-color: darkolivegreen;
    height: 100%; /* slides_wrap과 높이가 동일함 */
}
main .slides_wrap .slides_container .slide {
    height: 100%; /* slides_container와 높이가 동일함 */
}
main .slides_wrap .slides_container .slide .contents {
    max_width: 1400px; margin: 0 auto;
    overflow: hidden;
    border: 5px solid maroon;
}
main .slides_wrap .slides_container .slide .contents .title {
    border: 5px solid navy;
    width: 50%; float: right;
    padding-top: 132px;
}
main .slides_wrap .slides_container .slide .contents .title img {}
main .slides_wrap .slides_container .slide .contents .title .bnr_link {
    padding: 10px 20px; border-radius: 20px;
    background-color: #222; color: #EAD5C2;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.25rem; letter-spacing: 0.01em;
    display: block; width: min-content; margin-top: 75px;
}
main .slides_wrap .slides_container .slide .contents .title .bnr_link:hover {
    border: 2px solid #222; background-color: #EAD5C2; color: #222;
    padding: 8px 18px;
}
/* =========================================슬라이드 이전-다음 버튼 */
main .slides_wrap .pre_btn, 
main .slides_wrap .next_btn {
    position: absolute; top: 44%;
    background-color: darkorange;
}
main .slides_wrap .pre_btn img,
main .slides_wrap .next_btn img {}
main .slides_wrap .pre_btn {left: 196px;}
main .slides_wrap .next_btn {right: 196px;}
main .slides_wrap .scroll_bg {
    max_width: 1400px; margin: 0 auto; height: 3px;
    position: relative; bottom: 38px;
    background-color: #ccc;
}
main .slides_wrap .scroll_bg .scrollbar {
    width: 200px; height: 100%;
    background-color: #111;
}
/* =========================================main1. 광고배너 (개별 배너) */
/* =========================================배너1 */
main .slides_wrap .slides_container .slide1 {
    display: none;
    background-image: url(../images/bnr1.jpg);
}
main .slides_wrap .slides_container .slide1 .contents {}
main .slides_wrap .slides_container .slide1 .contents .title {}
main .slides_wrap .slides_container .slide1 .contents .title img {}
main .slides_wrap .slides_container .slide1 .contents .title .bnr_link {}
/* =========================================배너2 */
main .slides_wrap .slides_container .slide2 {
    background-image: url(../images/bnr2.jpg);
}
main .slides_wrap .slides_container .slide2 .contents {}
main .slides_wrap .slides_container .slide2 .contents .title {
    width: 50%; float: right;
    padding-left: 75px; padding-top: 164px;
    
}
main .slides_wrap .slides_container .slide2 .contents .title img {}
main .slides_wrap .slides_container .slide2 .contents .title .bnr_link {
    margin-top: 96px;
    border: 2px solid #D5CFCD; color: #D5CFCD;
    padding: 8px 18px;
}
main .slides_wrap .slides_container .slide2 .contents .title .bnr_link:hover {
    background-color: #D5CFCD; color: #18191E;
}
/* =====================================2행 Face Best 상품 */
main .face_best_wrap {
    background-color: paleturquoise;
    max_width: 1400px; margin: 0 auto;
}
main .face_best_wrap .title {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    background-color: pink;
}
main .face_best_wrap .title h2 {font-size:1.88rem; font-weight:500; letter-spacing:-0.02em;}
main .face_best_wrap .title .more {float: right; letter-spacing:-0.02em;}
main .face_best_wrap .contents {
    background-color: palegreen;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
}
main .face_best_wrap .contents li {
    background-color: lemonchiffon;
    width: calc((100% - (13 * 2)) / 3);
}
main .face_best_wrap .contents li .product {
    position: relative;
}
main .face_best_wrap .contents li .product:hover .icon {display: block;}
main .face_best_wrap .contents li .product .label {
    background-color: #fff; padding: 5px 10px;
    position: absolute; top : 0; left : 0;
}
main .face_best_wrap .contents li .product > a {font-size:1.13rem; font-weight:500; letter-spacing:-0.02em;}
main .face_best_wrap .contents li .product > a img {width:100%;}
/* ==================================================Start : 2행 상품 마우스 올렸을 시 출력대상 */
main .face_best_wrap .contents li .product .icon {
    border: 1px solid red; width: 100%; text-align: center;
    position: absolute; left:0; bottom: 40%;
    display: none; /* 초기 숨기기 */
}
main .face_best_wrap .contents li .product .icon a {opacity:0.5;}
main .face_best_wrap .contents li .product .icon a:hover {opacity:1;}
main .face_best_wrap .contents li .product .icon a img {}
/* ==================================================End : 2행 상품 마우스 올렸을 시 출력대상 */
main .face_best_wrap .contents li .txt {}
main .face_best_wrap .contents li .txt .category {
    margin: 10px 0;
    font-weight:500; letter-spacing:-0.02em;
}
main .face_best_wrap .contents li .txt h3 {
    font-size:1.25rem;font-weight:500; letter-spacing:-0.02em;
    margin-bottom: 35px;
}
main .face_best_wrap .contents li .txt .price {font-size:1.13rem; font-weight:500; letter-spacing:-0.02em;}