@media screen and (max-width:1400px){
    /* ====================================Start 태블릿 (너비 1400 이하) */
    .h_bg {padding: 0 80px;}
    /* ====================================End 태블릿 (너비 1400 이하) */
}
@media screen and (max-width:850px){
    /* ====================================Start 태블릿 (너비 850 이하) */
    .h_bg header {
        flex-flow: column nowrap; align-items: flex-start;
        justify-content: center; position: relative;
    }
    .h_bg header h1 {position: absolute; top: 10px;}
    .h_bg header h1 a img {width: 100px;}
    .h_bg header .h_right {width: 100%; padding: 0;}
    /* ====================================End 태블릿 (너비 850 이하) */
}
@media screen and (max-width:750px){
    /* ====================================Start 모바일 (너비 750 이하) */
    .h_bg {padding: 0 15px;}
    .h_bg header .h_right .h_btm a {font-size: 0.88rem;}
    /* ====================================End 모바일 (너비 750 이하) */
}
@media screen and (max-width:600px){
    /* ====================================Start 모바일 (너비 600 이하) */
    .h_bg header {
        flex-flow: row nowrap; align-items: center;
    }
    .h_bg header .h_right .h_top >a,
    .h_bg header .h_right .h_btm {display: none;}
    .h_bg header h1 {position: relative; top: 0;}
    .h_bg header .h_right .h_top .search > a img {width: 32px;}
    .h_bg header .h_right .h_top .search .m_all_nav {display: inline-block;}
    /* ====================================End 모바일 (너비 600 이하) */
}