#wrap {}
/* ===========================================================전체 공통 디자인 */
#wrap .container {
    background-position: center; /* 스크린의 사이즈를 줄여도 사진이 가운데에 있음 */
    background-size: cover; /* 스크린의 크기를 줄여도 사진이 가득차 있음 */
}
#wrap .container .gradient {}
#wrap .container .contents {
    max-width: 1250px; min-width: 320px; /* @media 너비 설정을 위한 기본 설정 */
    margin: 0 auto;
    padding: 100px 0;
}
#wrap .container .gradient .contents {}
#wrap .container .main_title {
    font-size: 4.38rem; line-height: 1.2;
}
#wrap .container .main_title span {font-weight: 700;}
/* 후원 버튼 (공통)*/
#wrap .container .sponsor_btn:hover {
    background: linear-gradient(-90deg, #fe9300, #ff7300 100%);
}
#wrap .container .sponsor_btn {
    font-size: 2.13rem; font-weight: 700; line-height: 1.2;
    padding: 15px 70px; border-radius: 50px;
    background: linear-gradient(90deg, #fe9300, #ff7300 100%);
    color: #fff;
}
#wrap .container .sponsor_btn img {
    width: 32px; margin-left: 10px;
    position: relative; top: 4px;
}
/* 후원 질문 버튼 (공통) */
#wrap .container .sponsor_q_btn:hover {box-shadow: 0 5px 10px rgba(255,255,255,0.2)}
#wrap .container .sponsor_q_btn:hover img:nth-child(2) {width: 27px;}
#wrap .container .sponsor_q_btn {
    display: flex; flex-flow: row nowrap;
    align-items: center;
    background-color: #050505; color: #fff;
    font-size: 1.63rem; line-height: 1.2; letter-spacing: -0.02em;
    padding: 10px 30px; border-radius: 30px;
}
#wrap .container .sponsor_q_btn img {width: 24px;}
#wrap .container .sponsor_q_btn img:nth-child(1) {margin-right: 10px;}
#wrap .container .sponsor_q_btn img:nth-child(2) {margin-left: 10px;}
/* ============================================[bg1. 1행 북극곰을 지켜주세요]*/

#wrap .bg1 {
    background-image: url(../images/bg1.png);
    background-attachment: fixed; /* 기본적으로 내용과 배경이 같이 움직이는데, fixed하면 배경은 고정되고 내용만 움직임 */
}
#wrap .bg1 .gradient {
    /* baground:linear-gradient(각도, 색상, 색상 색상위치%, 색상) */
    background: linear-gradient(transparent,rgba(0,0,0,0.6) 69%);
}
#wrap .bg1 .gradient .contents >* {margin-bottom: 100px;}
#wrap .bg1 .gradient .contents {
    display: flex; flex-flow: column nowrap;
    align-items: center;
    height: 150vh; /* 사용자의 스크린에 요소가 꽉차도록 높이를 설정함 */
}
/*====================================로고 이미지 */
#wrap .bg1 .gradient .contents h1:nth-child(1) {width: 89px; align-self: flex-start;}
#wrap .bg1 .gradient .contents h1:nth-child(1) a {}
#wrap .bg1 .gradient .contents h1:nth-child(1) img {width: 100%;}
/* 대부분의 자식 요소는 부모의 너비를 100% 따라감(블록일 경우) */
/* 이미지는 인라인 태그이기 때문에 부모의 너비에 100%로 따라가지않음 + 이미지는 기본 px 단위로 들어오기 때문에 기본 100% 설정이 안됨  */
/* ===================================생존의 벼랑 끝에 서 있는~ 제목 */
#wrap .bg1 .gradient .contents h1:nth-child(2) {
    color: #fff;
    text-align: center; letter-spacing: -0.02em;
}
#wrap .bg1 .gradient .contents h1:nth-child(2) span {}
/*====================================후원 버튼 */
#wrap .bg1 .gradient .contents .sponsor_btn {}
#wrap .bg1 .gradient .contents .sponsor_btn img {}
/*====================================후원 질문 버튼 */
#wrap .bg1 .gradient .contents .sponsor_q_btn {align-self: flex-end; margin: 0;}
#wrap .bg1 .gradient .contents .sponsor_q_btn img {}
#wrap .bg1 .gradient .contents .sponsor_q_btn img:nth-child(1) {}
#wrap .bg1 .gradient .contents .sponsor_q_btn img:nth-child(2) {}
/* ================================================[bg2. 2행 환경 퀴즈 및 참여]*/
/* 2행 배경사진 */
#wrap .bg2 {
    background-image: url(../images/quiz_bg.png);
    display: flex; flex-flow: row nowrap;
}
#wrap .bg2 .contents * {font-size: 1.25rem; line-height: 1.7; color: #fff;}
#wrap .bg2 .contents {
    width: 100%;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    padding: 150px 0;
}
/* 왼쪽 (Quiz) */
#wrap .bg2 .contents .quiz_contents {
    width: 455px;
    background-color: chocolate; 
}
#wrap .bg2 .contents .quiz_contents h2 {
    text-align: center;
    margin-bottom: 38px;
    font-size: 3.44rem; font-weight: 500; letter-spacing: -0.01em;
    line-height: 1.2;
}
#wrap .bg2 .contents .quiz_contents p {
    margin-bottom: 8px;
}
/* 퀴즈 선택지 그룹 */
#wrap .bg2 .contents .quiz_contents form {
    display: flex; flex-flow: column wrap;
    justify-content: space-between;
    background-color: dimgray;
}
#wrap .bg2 .contents .quiz_contents form label:nth-of-type(4) {margin: 0;}
#wrap .bg2 .contents .quiz_contents form label {margin-bottom: 14px;}
#wrap .bg2 .contents .quiz_contents form label input[name^=quiz] {}
#wrap .bg2 .contents .quiz_contents form label input[name^=quiz]+span {
    background: url(../images/quiz_unchecked.png) no-repeat;
    padding-left: 48px;
}
#wrap .bg2 .contents .quiz_contents form label input[name^=quiz]:checked+span {
    background: url(../images/quiz_checked.png) no-repeat;
}
#wrap .bg2 .contents .quiz_contents form .answer_btn {
    background-color: #050505; color: #fff;
    padding: 10px 0; border-radius: 50px;
    margin-top: 50px;
}
/* 오른쪽 (참여현황) */
#wrap .bg2 .contents .quiz_status {
    text-align: right;
    align-content: center;
    background-color: burlywood;
}
#wrap .bg2 .contents .quiz_status img {width: 500px;}
#wrap .bg2 .contents .quiz_status span {display: block;}
/* ========================================bg3. 3행 동영상*/
/* ========================================bg4. 4행 빙하 50% 감소*/
/* ========================================bg5. 5행 빙하 인류재앙3*/
/* ========================================bg6. 6행 지구 전체 위기*/
/* ========================================bg7. 7행 WWF 소개*/
/* ========================================bg8. 8행 WWF 활동*/
/* ========================================bg9. 9행 후원감사선물 */
/* ========================================bg10. 10행  후원안내사항*/