#wrap {}
#wrap header {
    background-color: rgba(0,0,0,0.1);
    padding: 21px 80px;
    /* header는 모든 사이트에서 높이 고정되는 경우가 90% 이상이다. */
    height: 80px; width: 100%;
    position: fixed; left: 0; top: 0; z-index: 999; /*fixed를 설정하면 블록 태그여도 크기가 내용만큼만 인식해버림 -> 따라서 넒이를 기본으로 설정해두어야함*/
}
#wrap header h1 {
    float: left;
    padding: 3px 0;
}
#wrap header h1 a {}
#wrap header h1 a img {}
#wrap header nav {
    float: right;
}
#wrap header nav ul.path {}
#wrap header nav ul.path::after {clear: both; display: block; content: "";}
#wrap header nav ul.path li {
    float: left;
    padding: 10px 0;
    margin-right: 80px;
}
#wrap header nav ul.path li:nth-child(4) {
    margin: 0; padding: 0;
}
#wrap header nav ul.path li a {
    color: #fff;
    font-size: 1.13em;
    font-weight: 600;
}
#wrap header nav ul.path li:nth-child(4) a {
    border: 1px solid #fff;
    border-radius: 25px;
    padding: 10px 20px;
    display: block;
}

#wrap main {background-color: lime;}
/* =============================================메인 1~4행 공통선택자 */
#wrap main .container {}
#wrap main .container .contents {
    width: 1440px; /*내가 보는 화면 높이에 요소가 딱 떨어지게 만들어줌*/
    margin: 0 auto;
    background-color: rgba(255,255,255,0.1); /*제거용*/
}
#wrap main .container .contents .txt {
    background-color: orange;
    color: #fff;
    height: 100vh;
}
#wrap main .container .contents .txt h1 {
    font-size: 4.38em;
    font-weight: 700;
    line-height: 1.3;
}
#wrap main .container .contents .txt h1 span {
    font-weight: 700; color: #5EE1FF;
}
#wrap main .container .contents .txt h1+p {
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.02em;
    margin : 20px 0;
}
#wrap main .container .contents .txt p.sub_title {
    font-size: 1.56em;
    font-weight: 600;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}
/* =============================================메인 1행 결제편리함 */
#wrap main .pay {
    background-image: url(../images/row1.jpg);
    background-size: cover;
}
#wrap main .pay .contents {position: relative;}
#wrap main .pay .contents .txt {
    padding-top: 231px;
}
#wrap main .pay .contents .txt h1 {}
#wrap main .pay .contents .txt h1 span {}
#wrap main .pay .contents .txt p {}
#wrap main .pay .contents .txt .bnr_btn_wrap {}
#wrap main .pay .contents .txt .bnr_btn_wrap a.prev {}
#wrap main .pay .contents .txt .bnr_btn_wrap a.prev img{}
#wrap main .pay .contents .txt .bnr_btn_wrap > * {margin-right: 10px;}
#wrap main .pay .contents .txt .bnr_btn_wrap .progress {
    display: inline-block; width: 100px; height: 2px; background-color: rgba(255,255,255,0.3);
    position: relative; bottom: 12px;
}
#wrap main .pay .contents .txt .bnr_btn_wrap .progress:nth-of-type(3) {background-color: rgba(255,255,255,1);}
#wrap main .pay .contents .txt .bnr_btn_wrap a.pause {}
#wrap main .pay .contents .txt .bnr_btn_wrap a.pause img {}
#wrap main .pay .contents .txt .bnr_btn_wrap a.next {}
#wrap main .pay .contents .txt .bnr_btn_wrap a.next img {}

#wrap main .pay .contents .scroll {
    position: absolute;
    bottom: 43px; right: 0;
}
#wrap main .pay .contents .scroll span:nth-child(1) {
    color: #fff;
    font-size: 0.88em; line-height: 1.3; font-weight: 500;
    text-transform: uppercase; /*모두 대문자로 만들기*/
    position: relative; top: 6px;
}
#wrap main .pay .contents .scroll span.scroll_bg  {
    display: inline-block; background-color: #555;
    height: 30px; width: 12px; border-radius: 6px;
}
#wrap main .pay .contents .scroll .scroll_bg .bar {
    display: inline-block; background-color: #fff;
    width: 8px; height: 8px; border-radius: 50%;
    position: relative; 
    top: -2px; left: 2px;
}

/* =============================================메인 2행 service */
#wrap main .service {
    background-image: url(../images/row2.jpg);
    background-size: cover;
}
#wrap main .service .contents {
    overflow: hidden;
    background-color: aqua;
}
#wrap main .service .contents .txt {
    background-color: magenta;
    padding-top: 310px;
    float: left;
}
#wrap main .service .contents .txt p.sub_title {}
#wrap main .service .contents .txt h1 {}
#wrap main .service .contents .txt p {}

#wrap main .service .contents .cards {
    background-color: yellow;
    float: right;
    position: relative; top: 157px; bottom: 126px;
}
/*====================================================카드1 카드2 공통선택자*/
#wrap main .service .contents .cards .card1,.card2 {
    width: 331px;
    border-radius: 25px;
    display: inline-block;
    padding-top: 200px;

}
#wrap main .service .contents .cards .card_txt {
    background-color: #fff;
    border-radius: 0 0 25px 25px;
    padding: 30px 20px 20px 20px;
}
#wrap main .service .contents .cards .card_txt h1 {
    font-size: 1.56em; font-weight: 600; letter-spacing: -0.02em;
}
#wrap main .service .contents .cards .card_txt p {
    margin: 35px 0;
    line-height: 1.5; letter-spacing: -0.02em;
    color: #555;
}

#wrap main .service .contents .cards .card_txt .see_more a {
    overflow: hidden;
    display: inline-block;
    width: 267px;
}
#wrap main .service .contents .cards .card_txt .see_more a span {
    float: left;
    font-weight: 600; line-height: 1.5; letter-spacing: -0.02em;
}
#wrap main .service .contents .cards .card_txt .see_more a img {
    float: right;
}
#wrap main .service .contents .cards .card_txt .see_more {
    margin: 0 20px 20px 20px;
    padding: 10px 0;
    border-top: 1px solid #000 ;
}
/*================================================================================카드1*/
#wrap main .service .contents .cards .card1 {
    background-image: url(../images/card_bg1.jpg);
    background-size: contain;
    background-color: palegreen;
}
#wrap main .service .contents .cards .card1 .card_txt {}
#wrap main .service .contents .cards .card1 .card_txt h1 {}
#wrap main .service .contents .cards .card1 .card_txt p {}
#wrap main .service .contents .cards .card1 .card_txt .see_more {}
#wrap main .service .contents .cards .card1 .card_txt .see_more a {}
#wrap main .service .contents .cards .card1 .card_txt .see_more a span {}
#wrap main .service .contents .cards .card1 .card_txt .see_more a img {}
/*================================================================================카드2*/
#wrap main .service .contents .cards .card2 {
    background-color: palevioletred;
    background-image: url(../images/card_bg2.jpg);
    background-size: contain;
    opacity: 0.6;
    position: relative; top: 154px;
}
#wrap main .service .contents .cards .card2 .card_txt {}
#wrap main .service .contents .cards .card2 .card_txt h1 {}
#wrap main .service .contents .cards .card2 .card_txt p {}
#wrap main .service .contents .cards .card2 .card_txt .see_more {}
#wrap main .service .contents .cards .card2 .card_txt .see_more a {}
#wrap main .service .contents .cards .card2 .card_txt .see_more a span {}
#wrap main .service .contents .cards .card2 .card_txt .see_more a img {}

/* =========================================================메인 3행 different */
#wrap main .different {
    background-image: url(../images/row3.jpg);
    background-size: cover;
}
#wrap main .different .contents {
    overflow: hidden;
    background-color: aqua;
}
#wrap main .different .contents .txt {
    background-color: magenta;
    padding-top: 310px;
    float: left;
}
#wrap main .different .contents .txt p.sub_title {}
#wrap main .different .contents .txt h1 {}
#wrap main .different .contents .txt p {}

#wrap main .different .contents .service_g {}
#wrap main .different .contents .service_g .service1 {}
#wrap main .different .contents .service_g .service1 .contents {}
#wrap main .different .contents .service_g .service1 .contents p.num {}
#wrap main .different .contents .service_g .service1 .contents p.title {}

#wrap main .different .contents .service_g .service2 {}
#wrap main .different .contents .service_g .service2 .contents {}
#wrap main .different .contents .service_g .service2 .contents p.num {}
#wrap main .different .contents .service_g .service2 .contents p.title {}

#wrap main .different .contents .service_g .service3 {}
#wrap main .different .contents .service_g .service3 .contents {}
#wrap main .different .contents .service_g .service3 .contents p.num {}
#wrap main .different .contents .service_g .service3 .contents p.title {}

#wrap main .different .contents .service_g .service4 {}
#wrap main .different .contents .service_g .service4 .contents {}
#wrap main .different .contents .service_g .service4 .contents p.num {}
#wrap main .different .contents .service_g .service4 .contents p.title {}