@media screen and (max-width:1730px) {
    /* 3. web design */
    .web_design .web_works .web_work .work_link ul li a::before {display: none;}
}
/* 테블릿 반응형 */
@media screen and (max-width:1290px) {
    /* 1. about */
    .about {padding: 100px 80px;}
    .about .about_wrap {width: 100%; flex-flow: column nowrap;}
    .about .about_wrap .about_left {position: relative; width: 100%;}
    .about .about_wrap .about_right {padding-top: 100px; width: 100%;}
    /* 3. web design */
    .web_design .web_works .web_work .work_link {width: 100%; align-self: flex-start; }
    .web_design .web_works .web_work .work_link p {display: none;}
    .web_design .web_works .web_work .work_link ul {display:flex; flex-flow: row wrap; width: 100%;}
    .web_design .web_works .web_work .work_link ul li {flex: 1; padding: 10px 30px 10px 10px; border: none;}
    .web_design .web_works .web_work .work_wrap {flex-flow: column nowrap;}
    .web_design .web_works .web_work .work_wrap .work_header {width: 100%; flex-flow: row wrap;}
    .web_design .web_works .web_work .work_wrap .work_header .work_header_top {display: flex; flex-flow: column nowrap; flex: 2; border-right: 1px solid #111;}
    .web_design .web_works .web_work .work_wrap .work_header .work_duration {flex: 1; align-self: center; margin: 0 10px;}
    .web_design .web_works .web_work .work_wrap .work_header .work_duration p {}
    .web_design .web_works .web_work .work_wrap .work_header .work_header_top .work_name {height: 100%; padding-right: 10px; margin-bottom: 20px;}
    .web_design .web_works .web_work .work_wrap .work_header .work_header_top .work_name .name {position: relative; left: 0;}
    .web_design .web_works .web_work .work_wrap .work_header .work_header_top .work_tools > * {display: inline-block; padding-right: 10px;}
    .web_design .web_works .web_work .work_wrap .work_header .work_header_top .work_tools li {margin-bottom: 0;}
    .web_design .web_works .web_work .work_thumbnail {width: 100%; margin: 30px 0;}
    /* 4. other design */
    .other_design .detail_slide_wrap .detail_swiper .swiper-wrapper .swiper-slide {max-width: 40%!important;}   
}
@media screen and (max-width:786px) {
    /* 0. start */
    .start .contents .title p:nth-child(1) {font-size: 2.2rem;}
    .start .contents .title h1 {font-size: 8rem;}
    .start .contents .contents_btm {bottom: 70px;}
    .start .contents .contents_btm .folder_img {width: 350px;}
    .start .contents .contents_btm .name .person {font-size: 2.2rem;}
    .start .contents .contents_btm .name .job {font-size: 1.6rem;}
    /* 1. about */
    .about .about_wrap .about_left .profile_img .folder_img {width: 245px;}
    .about .about_wrap .about_left .profile_img .person_img {width: 300px;}
    /* 2. skills */
    .skills .contents {background-color: rgba(246,246,246,0.8);}
    .skills .contents .skills_group .skills_row .skill:last-child {border-bottom: none; margin-bottom: 0;}
    .skills .contents .skills_group .skills_row .skill {
        flex-flow: column nowrap;
        width: 100%;
        border: none;
        margin-right: 0;
    }
    .skills .contents .skills_group .skills_row .skill .name {margin-top: 5px;}
    .skills .contents .skills_group .skills_row .skill .des {margin-top: 15px;}
    /* 3. web design */
    .web_design .web_works .web_work .work_wrap .work_header {display: flex; flex-flow: column wrap;}
    .web_design .web_works .web_work .work_wrap .work_header .work_header_top {border-right: none;}
    .web_design .web_works .web_work .work_wrap .work_header .work_header_top .work_tools {display: none;}
    .web_design .web_works .web_work .work_wrap .work_header .work_duration {
        width: 540px; max-width: 100%;
        margin: 0; margin-top: 20px;
    }
    .web_design .web_works .web_work .work_thumbnail img {transform: scale(1.4);}
    .web_design .web_works .web_work .work_wrap {padding: 45px 0;}
    .web_design .web_works .web_work .work_link ul li a {font-size: 1.5rem;}
    /* 4. other design */
    .other_design .folder_img {width: 240px;}
    .other_design .bnr_slide_wrap .bnr_swiper {left: -160px;}
    .other_design .sns_slide_wrap .sns_swiper {height: 300px;}
    .other_design .detail_slide_wrap .detail_swiper .swiper-wrapper .swiper-slide {max-width: 100%!important;} 
    .other_design .detail_slide_wrap .detail_swiper .swiper-wrapper .swiper-slide img {width: 50%;}
    .other_design .detail_slide_wrap .detail_swiper {height: 450px;}
}
/* 모바일 반응형 */
@media screen and (max-width:560px) {
    .web_design .title, .skills .title,
    .other_design .title {font-size: 2.19rem;}
    /* 0. start */
    .start {padding-top: 80px;}
    .start .contents .title {position: relative; bottom: 10px;}
    .start .contents .title p:nth-child(1) {font-size: 1.75rem;}
    .start .contents .title h1 {font-size: 5.2rem;}
    .start .contents .contents_btm {bottom: 65px;}
    .start .contents .contents_btm .folder_img {width: 280px;}
    .start .contents .contents_btm .name .person {font-size: 1.75rem;}
    .start .contents .contents_btm .name .job {font-size: 1.2rem;}
    /* 1. about */
    .about, .skills, .web_design, .final {padding: 80px 15px;}
    .about .about_wrap .about_left .profile_img {margin-bottom: 45px;}
    .about .about_wrap .about_left .profile_img .person_img {width: 180px; top: 110px; left: 80px;}
    .about .about_wrap .about_left .profile_img .folder_img {width: 150px;}
    .about .about_wrap .about_left .contact_info li,
    .final .contact_info li {font-size: 1.0rem;}
    .about .about_wrap .about_left .contact_info li .title,
    .final .contact_info li .title {font-size: 0.94rem;}
    .about .about_wrap .about_right .key_message {font-size: 1.63rem; line-height: 1.6;}
    .about .about_wrap .about_right .detail_message .em_strong {font-size: 1.38rem;}
    .about .about_wrap .about_right .detail_message {font-size: 1.0rem;}
    .about .about_wrap .about_right .profile_details ul .title {font-size: 1rem;}
    .about .about_wrap .about_right .profile_details ul li p {font-size: 1rem;}
    .about .about_wrap .about_right .profile_details ul li .period {font-size: 1rem;}
    /* 2. skills */
    .skills .contents .skills_group .skills_row .skill {align-items: flex-start;}
    .about .about_wrap .about_right .profile_details .my_skills .contents .skills_col:first-child {margin-right: 30px;}
    .about .about_wrap .about_right .profile_details .my_skills .contents .skills_col .tool .level span {width: 6px; height: 16px; margin-right: 1px;}
    .skills .contents {padding: 45px 0;}
    .skills .contents .skills_group .skills_row .skill .name {font-size: 1.0rem; margin-right: 20px;}
    .skills .contents .skills_group .skills_row .skill .des {font-size: 0.94rem;}
    /* 3. web design */
    .web_design .web_works .web_work .work_wrap .work_header .work_header_top .work_name {padding-right: 0;}
    /* 4. other design */
    .other_design .bnr_slide_wrap .bnr_swiper {left: -152px;}
    .other_design .sns_slide_wrap .sns_swiper {height: 300px;}
    .other_design .detail_slide_wrap .detail_swiper .swiper-wrapper .swiper-slide img {width: 70%;} 
    .other_design .detail_slide_wrap .detail_swiper {height: 400px;}
    /* 5. final */
    .final p {font-size: 4.38rem;}
    .final .contact_info li {margin-bottom: 20px;}
}