@media screen and (max-width:1270px) {
    .about .about_wrap {width: 100%; flex-flow: column nowrap;}
    .about .about_wrap .about_left .profile_img {}
    .about .about_wrap .about_left {position: relative; width: 100%; margin: 0 auto;}
}
@media screen and (max-width:1730px) {
    .web_design .web_works .web_work .work_link ul li a::before {display: none;}
}
@media screen and (max-width:1630px) {
    .web_design .web_works .web_work .work_wrap .work_thumbnail {width: 80%;}
    .web_design .web_works .web_work .work_wrap .work_link {display: none;}
}
@media screen and (max-width:876px) {
    .about {}
    .about .about_wrap {}
    
    .about .about_wrap .about_left .profile_img {width: max-content; margin-right: 80px;}
    .about .about_wrap .about_left .profile_img .person_img {width: 320px;}
    .about .about_wrap .about_left .contact_info {}
    .about .about_wrap .about_right {width: 100%; padding: 100px 0; display: block; width: max-content; margin: 0 auto;}
    .other_design .detail_slide_wrap .detail_swiper {}
    .other_design .folder_img {width: 200px;}
}
/* @media screen and (max-width:1869px) {
    .web_design .web_works .web_work .work_thumbnail {width: 860px;}
} */
/* @media screen and (max-width:1390px){
    .about .about_wrap .about_left {display: block; width: 100%; position: relative; padding: 0; margin: 0;}
    .about .about_wrap .about_left .profile_img {width: max-content; margin: 0 auto 60px;}
    .about .about_wrap .about_left .profile_img .person_img {width: 380px;}
    .about .about_wrap .about_right {padding: 100px 0; display: block; width: max-content; margin: 0 auto;}
}
@media screen and (max-width:375px){
    .about .about_wrap .about_left {display: block; width: 100%;}
} */