header {
    width:1152px; margin:0 auto;
}
/* =======================header top */
header .top {
    height:48px;
    /* lnb+mylnb 자식을 정렬하기 위한 flex적용부모 */
    display:flex; 
    flex-flow:row nowrap;
    justify-content:space-between;
    align-items:center;
}
header .top .lnb {
    /* 서울특별시 h1~응답소 a 자식을 정렬하기 위한 flex적용부모 */
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
}
header .top .lnb h1 {}
header .top .lnb h1 a {}
header .top .lnb h1 a img {}
header .top .lnb > a {
    margin-left:20px;
    letter-spacing:-0.02em;
}
header .top .my_lnb {
}
header .top .my_lnb a {margin-left:20px; letter-spacing:-0.02em;}
header .top .my_lnb a:first-child {margin:0}
/* =======================header bottom */
header .bottom {
    height:119px;
    /* 로고h1~언어div 자식을 묶는 flex적용부모 */
    display:flex;
    flex-flow:row nowrap;
    align-items:center;
    justify-content: space-between;
}
header .bottom h1 {}
header .bottom h1 a {}
header .bottom h1 a img {}
header .bottom #searchFrm {
    background-color:#fff;
    width:369px; height:46px;
    border:2px solid #1e6cb3; padding:0 20px;
    /* input+button 정렬을 위한 flex부모 */
    display:flex; flex-flow:row nowrap; 
    justify-content: space-between; align-items:center;
}
header .bottom #searchFrm input[name*=search] {}
header .bottom #searchFrm input[name*=search]::placeholder {color:#1e6cb3;}
header .bottom #searchFrm .search_btn {}
header .bottom .lang {}
header .bottom .lang select[name*=lang] {
    border:1px solid #1e6cb3; height:29px; width:93px;
    padding-left:10px; font-size:0.813rem; margin-right:10px;
}
header .bottom .lang select[name*=lang] option {}
header .bottom .lang .lang_btn {
    background-color:#1e6cb3; color:#fff; 
    height:29px; width:30px; font-size:0.813rem;
}
/* =======================main */
main {}
/* =================================main 1. 상단 이벤트+공지사항 배너 */
main .visual_container {
    /* 좌우 배너 자식정렬 부모 flex 대상 */
    width: 1152px; margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}
/* ==================================왼쪽 */
main .visual_container .corona_notice {position: relative;}
main .visual_container .corona_notice img {}
main .visual_container .corona_notice .close {
    position: absolute; right: 10px; bottom: 10px;
    padding: 10px; border-radius: 5px; display: block;
    background-color: #1e6cb3; color: #fff;
    letter-spacing: -0.02em;
}
/* ==================================오른쪽 */
main .visual_container .right_container {width: 360px;}
/* =============================코로나 현황 */
main .visual_container .right_container .corona {
    position: relative;
    margin-bottom: 10px;
}
main .visual_container .right_container .corona img {}
main .visual_container .right_container .corona span {
    position: absolute;
    color: #fff; letter-spacing: -0.02em;
}
main .visual_container .right_container .corona .date {
    width: 160px; top: 19px; right: 22px;
    color: #000;
} 
main .visual_container .right_container .corona .data {text-align: center;}
main .visual_container .right_container .corona .data1,.data2 {width: 140px; top: 80px;}
main .visual_container .right_container .corona .data1 {left: 30px;}
main .visual_container .right_container .corona .data2 {right: 30px;}
main .visual_container .right_container .corona .data3,.data4,.data5 {width: 94px; top:155px;}
main .visual_container .right_container .corona .data3 {left: 30px;}
main .visual_container .right_container .corona .data4 {right: 121px;}
main .visual_container .right_container .corona .data5 {width: 59px; right: 33px;}
/* ==============================교통 현황 */
main .visual_container .right_container .traffic {}
main .visual_container .right_container .traffic a {}
main .visual_container .right_container .traffic a img {}
/* =======================================주요서비스 */
main .service_container {}
/* ==============================2~5 **공통 제목 디자인** */
main >* { width: 100%; margin: 50px auto;}
main >* .title {
    border-bottom: 1px solid #ccc;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding-bottom: 20px;
    align-items: center;
}
main >* .title h1 {font-size: 1.44rem; font-weight: 500; letter-spacing: -0.02em;}
main >* .title .more_view {border: 1px solid #aaa; padding: 10px;}
/* ============================== 주요 서비스 - 제목 */
main .service_container {width: 1152px;}
main .service_container .title {
    line-height: 100%;
}
main .service_container .title h1 {}
main .service_container .title .more_view {}
/* ==============================주요 서비스 - 내용 */
main .service_container .contents {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    padding: 20px 0;
}
main .service_container .contents a {
    display: flex;
    flex-flow: column nowrap;
    flex: 1;
    align-items: center;
}
main .service_container .contents a span {
    width: 60px; height: 60px; margin-bottom: 15px;
    background-image: url(../images/service.png);
}
main .service_container .contents a em {
    font-size: 0.81rem; letter-spacing: -0.02em;
}
/* ==============================주요 서비스 - 내용(개별) */
main .service_container .contents a:nth-child(1) span {}
main .service_container .contents a:nth-child(2) span {background-position-x: -60px;}
main .service_container .contents a:nth-child(3) span {background-position-x: -120px;}
main .service_container .contents a:nth-child(4) span {background-position-x: -180px;}
main .service_container .contents a:nth-child(5) span {background-position-x: -240px;}
main .service_container .contents a:nth-child(6) span {background-position-x: -300px;}
main .service_container .contents a:nth-child(7) span {background-position-x: -360px;}
main .service_container .contents a:nth-child(8) span {background-position-x: -420px;}
main .service_container .contents a:nth-child(9) span {background-position-x: -480px;}
main .service_container .contents a:nth-child(10) span {background-position-x: -540px;}
main .service_container .contents a:nth-child(11) span {background-position-x: -600px;}
main .corona_container {
    width: 100%;
    background-color: #EFF4F8;
}
main .corona_container .contents {
    width: 1152px; margin: 0 auto; padding: 50px 0;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between; flex: 1;
}
main .corona_container .contents a {}
main .corona_container .contents a img {width: 100%;}
/* =====================================main 3. 신청+행사+서비스 */
main .event_container {
    width: 1152px;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    padding-bottom: 50px;
}
main .event_container .contents {}
/* -----------------------게시글 제목 (공통) */
main .event_container .contents .title {margin-bottom: 17px;}
main .event_container .contents .title h1 {}
main .event_container .contents .title .more {}
main .event_container .contents .title .more img {}
/* -----------------------게시글 내용 (공통) */
main .event_container .contents .list {width: 369px; letter-spacing: -0.02em;}
main .event_container .contents .list li {margin-bottom: 25px; display: flex; flex-flow: row nowrap;}
main .event_container .contents .list li:last-child {margin-bottom: 0;}
main .event_container .contents .list li .category {width: 40px;}
main .event_container .contents .list li a {
    /* 자동줄바꿈 및 밑줄임 처리 */ 
    white-space: nowrap;
    width: calc(100% - 40px);
    /* 영역을 튀어나온 글자 ... 처리하기 (너비 설정 필수) */
    overflow: hidden;
    text-overflow: ellipsis;
}
/* 카테고리별 색상 */
main .event_container .contents .list li .admin {color: #028ab6;} /* 행정 */
main .event_container .contents .list li .environment {color: #599100;} /* 환경 */
main .event_container .contents .list li .welfare {color: #d76000;} /* 복지 */
main .event_container .contents .list li .housing {color: #c35c3c;} /* 주택 */
main .event_container .contents .list li .culture {color: #9b64d3;} /* 문화 */
main .event_container .contents .list li .economy {color: #069363;} /* 경제 */

/* =====================================main 3-1. 이벤트 신청 */
main .event_container .event_apply {}
main .event_container .event_apply .title {}
main .event_container .event_apply .title h1 {}
main .event_container .event_apply .title .more {}
main .event_container .event_apply .title .more img {}
main .event_container .event_apply .list {}
main .event_container .event_apply .list li {}
main .event_container .event_apply .list li span {}
main .event_container .event_apply .list li a {}
/* =====================================main 3-2. 이달의 행사 축제 */
main .event_container .month_event {}
main .event_container .month_event .title {}
main .event_container .month_event .title h1 {}
main .event_container .month_event .title .more {}
main .event_container .month_event .list {}
main .event_container .month_event .list li {}
main .event_container .month_event .list li span {}
main .event_container .month_event .list li a {}
/* =====================================main 3-3. 자주 찾는 서비스 */
main .event_container .service_visit {}
main .event_container .service_visit .title {}
main .event_container .service_visit .title h1 {}
main .event_container .service_visit .list {
    background-color: #eff4f8;
    display: flex; flex-flow: row wrap; padding: 13px;
}
main .event_container .service_visit .list li {width: calc(100% / 2);}
main .event_container .service_visit .list li:nth-child(9) {margin-bottom: 0;}
main .event_container .service_visit .list li a {}
/* ==========================================main 4. 분야별 정보 */
main .info_container {width: 1152px; margin: 0 auto;}
main .info_container .title {}
main .info_container .title h1 {}
main .info_container .contents {
    padding: 20px 40px;
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;

}
main .info_container .contents a {
    display: flex; flex-flow: column nowrap;
    align-items: center;
    
}
main .info_container .contents a span {
    width: 104px; height: 111px;
    background-image: url(../images/category_info.png);
}
main .info_container .contents a:nth-child(1) span {}
main .info_container .contents a:nth-child(2) span {background-position-x: -104px;}
main .info_container .contents a:nth-child(3) span {background-position-x: -208px;}
main .info_container .contents a:nth-child(4) span {background-position-x: -312px;}
main .info_container .contents a:nth-child(5) span {background-position-x: -416px;}
main .info_container .contents a:nth-child(6) span {background-position-x: -520px;}
main .info_container .contents a:nth-child(7) span {background-position-x: -624px;}
main .info_container .contents a:nth-child(8) span {background-position-x: -728px;}
main .info_container .contents a em {letter-spacing: -0.02em;}
/* ============================================main 5. 새소식 */
main .new_container {width: 1152px;}
main .new_container .title {}
main .new_container .title h1 {}
main .new_container .title .more_view {}
main .new_container .contents {
    display: flex; flex-flow: row wrap;
    justify-content: space-between;
    margin: 44px 0 50px 0;
}
main .new_container .contents li:nth-child(1),li:nth-child(2),li:nth-child(3),li:nth-child(4) {margin-bottom: 30px;}
main .new_container .contents li {
    width: calc((100% - 39px) / 4);
}
main .new_container .contents li a {
    display: flex; flex-flow: column nowrap;
}
main .new_container .contents li a img {}
main .new_container .contents li a span {
    line-height: 1.5; letter-spacing: -0.02em; font-size: 0.88rem;
}
/* =======================footer */
footer {
    width: 1152px; margin: 0 auto; padding-bottom: 50px;
    display: flex; flex-flow: column nowrap;
    justify-content: center;
}
footer .top {
    display: flex; flex-flow: row nowrap;
    justify-content: space-between;
    padding: 20px 0;
}
footer .top .menu {
    align-self: center;

}
footer .top .menu a {letter-spacing: -0.02em;}
footer .top .menu a::after {
    content: ''; display: inline-block; background-color: #000;
    width: 1px; height: 12px; margin: 0 10px;
}
footer .top .menu a:last-child::after {display: none;}
/* sns 바로가기 링크 */
footer .top .sns {
    display: flex; flex-flow: row nowrap;
}
footer .top .sns a:hover {background-position-y: -25px;}
footer .top .sns a {
    background-image: url(../images/sns_sprite.png);
    background-position-y: 0; width: 25px; height: 25px;
    margin-right: 10px;
}
footer .top .sns a:nth-child(1) {}
footer .top .sns a:nth-child(2) {background-position-x: -25px;}
footer .top .sns a:nth-child(3) {background-position-x: -50px;}
footer .top .sns a:nth-child(4) {background-position-x: -75px;}
footer .top .sns a:nth-child(5) {background-position-x: -100px;}
footer .top .sns a:nth-child(6) {background-position-x: -125px; margin-right: 0;}
footer .top .sns a span {display: none;}
footer .bottom {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    padding: 30px 0;
}
footer .bottom address {line-height: 1.8;}
footer .bottom address a {}
footer .bottom .mark {height: 56px; align-self: center;}
footer .bottom .mark a {}
footer .bottom .mark a:first-child {margin-right: 10px;}
footer .bottom .mark a img {}