body {}
.hd_bg {
    background-color: rgba(255,255,255,0.65); width: 100%;
    position: fixed; right: 0; top: 0; z-index: 999;
}
.hd_bg header {
    width: 1520px; margin: 0 auto; height: 90px;
    display: flex; flex-flow: row nowrap; justify-content: space-between;
    align-items: center;
    letter-spacing: -0.02em;
}
.hd_bg header h1 {}
.hd_bg header h1 a {}
.hd_bg header h1 a img {}
/* ===========================================헤더 공통선택자 */
.hd_bg header .hd_center,
.hd_bg header .hd_right,
.hd_bg header .hd_center > *,
.hd_bg header .hd_right > * {display: flex; flex-flow: row nowrap; align-items: center;}
.hd_bg header .hd_center .service::after, /* 카테고리 중간 구분선 */
.hd_bg header .hd_right .login::after {
    content: ''; display: inline-block;
    width: 2px; height: 20px; background-color: #bbb;
}
/* ===========================================헤더 개별선택자 */
.hd_bg header .hd_center {font-size:1.06rem; font-weight:500;}
.hd_bg header .hd_center .service {}
.hd_bg header li {display: inline-block;} /* 이벤트 li & 로그인 li */
.hd_bg header .hd_center .service li, 
.hd_bg header .hd_center nav a {margin-right: 35px;} /* 가운데 카테고리 글자 여백 */
.hd_bg header .hd_center .service li:last-child,
.hd_bg header .hd_center nav a:last-child {margin-right: 40px;}
.hd_bg header .hd_center .service li a {}
.hd_bg header .hd_center .service .main_product::before /* 특가이벤트 표시점 */ {
    content: ''; display: inline-block; width: 8px; height: 8px;
    border-radius: 50px; background-color: #336477; margin: 0 9px 9px 0;
} 
.hd_bg header .hd_center nav {}
.hd_bg header .hd_center nav a {}
.hd_bg header .hd_center nav a:first-child {margin-left: 35px;}
.hd_bg header .hd_center #searchFrm {
    background-color: #eee; color: #333;
    border-radius: 50px;
    display: flex; flex-flow: row nowrap;
    padding: 3px 10px 3px 20px;
}
.hd_bg header .hd_center #searchFrm input[name$=search] {
    background: none; 
    
}
.hd_bg header .hd_center #searchFrm input[name$=search]::placeholder {color: #333;}
.hd_bg header .hd_center #searchFrm #search_btn {}
.hd_bg header .hd_right {font-size:0.88rem;}
.hd_bg header .hd_right .login {}
.hd_bg header .hd_right .login li,
.hd_bg header .hd_right .login::after {margin-right: 20px;}
.hd_bg header .hd_right .login li a {}
.hd_bg header .hd_right .icon {}
.hd_bg header .hd_right .icon li {}
.hd_bg header .hd_right .icon .main_product {margin-right: 15px;}
.hd_bg header .hd_right .icon li a {}
/* ===========================================Start : 광고 배너 */
main {}
main .bnr_wrap {height: 905px; position: relative; margin-bottom: 120px;}
/* ===========================================광고 배너 공통선택자 */
main .bnr_wrap .bnr_container {height: 100%;}
main .bnr_wrap .bnr_container .all_bnr {height: 100%;}
main .bnr_wrap .bnr_container .all_bnr .contents {}
main .bnr_wrap .bnr_container .all_bnr .contents .title {}
main .bnr_wrap .bnr_container .all_bnr .contents .title img {}
main .bnr_wrap .bnr_container .all_bnr .contents .title .txt {
    width: max-content; 
    position: absolute; top: 40%; left: 20%;
}
main .bnr_wrap .bnr_container .all_bnr .contents .title .txt a {color: #fff;}
main .bnr_wrap .bnr_container .all_bnr .contents .title .txt .sub_txt {
    display: flex; flex-flow: row nowrap;
}
main .bnr_wrap .bnr_container .all_bnr .contents .title .txt .sub_txt.main_product::after /* 배너 서브 타이틀 구분선 */{
    content: ''; display: inline-block; width: 2px; height: 24px;
    background-color: #fff;
    position: relative; top: 3px;
    margin: 0 10px;
}
main .bnr_wrap .bnr_container .all_bnr .contents .title .txt .sub_txt a {
    font-size:1.5rem; line-height:1.7; letter-spacing:-0.02em;
}
main .bnr_wrap .bnr_container .all_bnr .contents .title .txt > a h1 {font-size:2.81rem; font-weight:600; line-height:1.5; letter-spacing:-0.02em;}
main .bnr_wrap > a {position: absolute; top: 50%; opacity: 20%;} /* 광고 배너 버튼 */
main .bnr_wrap > a:hover {opacity: 100%;} /* 광고 배너 버튼 */
/* ===========================================광고 배너 개별선택자 */
main .bnr_wrap .bnr_container .bnr1 {}
main .bnr_wrap .bnr_container .bnr1 .contents {}
main .bnr_wrap .bnr_container .bnr1 .contents .title {}
main .bnr_wrap .bnr_container .bnr1 .contents .title img {}
main .bnr_wrap .bnr_container .bnr1 .contents .title .txt {}
main .bnr_wrap .bnr_container .bnr1 .contents .title .txt a {}
main .bnr_wrap .bnr_container .bnr1 .contents .title .txt a h1 {}
main .bnr_wrap .pre_btn {left: 80px;}
main .bnr_wrap .next_btn {right: 80px;}
main .bnr_wrap .progress_wrap {
    text-align: right;
    position: absolute; width: 100%;
    bottom: 0; right: 0;
}
main .bnr_wrap .progress_wrap .page_num span {font-size:1.13rem; font-weight:500;}
main .bnr_wrap .progress_wrap .page_num {
    display: inline-block;
    background-color:rgba(0,0,0,0.3);
    border-radius: 50px;
    padding: 8px 9px;
    margin: 0 20px 20px 0;
}
main .bnr_wrap .progress_wrap .page_num .now_pg {color: #fff;}
main .bnr_wrap .progress_wrap .page_num .all_pg {color: rgba(255,255,255,0.4);}
main .bnr_wrap .progress_wrap .page_num span:nth-child(2) {
    content: ''; display: inline-block; background-color: #fff;
    width: 2px; height: 18px;
    margin: 0 5px;
    position: relative;
    top: 3px;
}
main .bnr_wrap .progress_wrap .progress_bar {
    height: 3px; background-color: #bbb;
}
main .bnr_wrap .progress_wrap .progress_bar .bar {
    background-color: #000;
    width: calc(100% / 13);
    height: 100%;
}
/* ===========================================1행 이 달의 상품 */
/* ===========================================START : main 공통선택자 */
main .container {margin-bottom: 120px;}
main .container .title {
    width: 1520px; margin: 0 auto; padding-bottom: 40px; margin-bottom: 65px;
    border-bottom: 1px solid #eee;
}
main .container .title .txt { }
main .container .title .txt h2 {
    font-size:2.38rem; font-weight:600; line-height:1.5; letter-spacing:-0.02em;
    color: #336477;
}
main .container .title .txt p {
    font-weight:500; line-height:1.7; letter-spacing:-0.02em;
    color: #999;
}
/* ===========================================END : main 공통선택자 */
main .month_product {}
main .month_product .title {
    display: flex; flex-flow: row nowrap; justify-content: space-between;
}
main .month_product .title .txt {}
main .month_product .title .txt h2 {}
main .month_product .title .txt p {}
main .month_product .title .more_btn {
    padding: 4px 8px; border-radius: 4px;
    background-color: #336477; color: #fff;
    font-weight:500; line-height:1.7; letter-spacing:-0.02em;
    align-self: flex-end;
}
main .month_product .product_wrap {
    width: 1760px; margin: 0 auto;
    display: flex; flex-flow: row nowrap;
    position: relative;
}
main .month_product .product_wrap .product_slides {
    width: 1520px; margin: 0 auto;
    display: flex; flex-flow: row nowrap;
}
/* 이 달의 상품 슬라이드 2열 너비 맞추기 */
main .month_product .product_wrap .product_slides > ul {width: calc((100% - 25px) / 2);}
main .month_product .product_wrap .product_slides .main_product {margin-right: 25px; position: relative;}
main .month_product .product_wrap .product_slides .main_product li {}
main .month_product .product_wrap .product_slides .main_product li a {}
main .month_product .product_wrap .product_slides .main_product li a img {width: 100%;}
main .month_product .product_wrap .product_slides .main_product li a::after {
    content: ''; display: inline-block; width: 100%; height: 723px;
    background: linear-gradient(transparent,rgba(0,0,0,0.4));
    position: absolute; left: 0; top: 0;
}
main .month_product .product_wrap .product_slides .main_product .info {
    color: #fff;
    position: absolute; right: 0; bottom: 0;
    padding: 0 30px 30px 0; text-align: right;
    font-size:1.56rem; line-height:1.5; letter-spacing:-0.02em;
}
main .month_product .product_wrap .product_slides .main_product .info .name {margin-bottom: 15px;}
main .month_product .product_wrap .product_slides .main_product .info .price {font-weight: 500;}
main .month_product .product_wrap .product_slides .product_group {
    display: flex; flex-flow: row wrap;
    justify-content: space-between; align-content: space-between;
}
main .month_product .product_wrap .product_slides .product_group .m_product {}
main .month_product .product_wrap .product_slides .product_group .m_product .image {}
main .month_product .product_wrap .product_slides .product_group .m_product .image a {display: inline-block;}
main .month_product .product_wrap .product_slides .product_group .m_product .image a img {width: 100%;}
main .month_product .product_wrap .product_slides .product_group .m_product .info {
    padding: 25px 0; text-align: center;
    font-size:1.25rem; line-height:1.5; letter-spacing:-0.02em;
    position: relative; top: -3px;
}
main .month_product .product_wrap .product_slides .product_group .m_product .info .name {margin-bottom: 15px;}
main .month_product .product_wrap .product_slides .product_group .m_product .info .price {font-weight: 500;}
main .month_product .product_wrap > a {
    position: absolute; top: 40%;
}
main .month_product .product_wrap .pre_btn {left: 0;}
main .month_product .product_wrap .next_btn {right: 0;}
/* ===========================================2행 이 달의 쿠폰 */
main .month_coupon {}
main .month_coupon .title {}
main .month_coupon .title .txt {}
main .month_coupon .coupon_wrap {
    width: 1520px; margin: 0 auto;
    display: flex; flex-flow: row nowrap;
}
main .month_coupon .coupon_wrap .coupon {
    width: calc((100% - (25px * 4)) / 5);
    margin-right: 25px;
    padding: 25px 25px;
}
main .month_coupon .coupon_wrap .coupon:nth-child(1) {background-color: #336477;}
main .month_coupon .coupon_wrap .coupon:nth-child(2) {background-color: #AB7F3C;}
main .month_coupon .coupon_wrap .coupon:nth-child(3) {background-color: #333;}
main .month_coupon .coupon_wrap .coupon:nth-child(4) {background-color: #3B6034;}
main .month_coupon .coupon_wrap .coupon:nth-child(5) {background-color: #3C5FAB;}
main .month_coupon .coupon_wrap .coupon:last-child {margin-right: 0;}
main .month_coupon .coupon_wrap .coupon a {color: #fff;}
main .month_coupon .coupon_wrap .coupon a p {}
main .month_coupon .coupon_wrap .coupon a .c_name {font-size:1.44rem; font-weight:500; letter-spacing:-0.02em; margin-bottom: 9px;}
main .month_coupon .coupon_wrap .coupon a .c_price {
    text-align: right;
    font-size:3.25rem; font-weight:600;
}
