#wrap {
    background-color: #fff;
}
/* ========================================헤더시작 */
#wrap .header_bg {
    background-color: #fff;
    width: 1920px;
    position: fixed; top: 0; left: 0; z-index: 999;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
}
#wrap .header_bg header {
    width: 1760px; margin: 0 auto;
    height: 100px;
    padding-top: 8px;
    display: flex; flex-flow: row nowrap; align-items: center;
}
#wrap .header_bg header h1 {position: relative; bottom: -2px;}
#wrap .header_bg header h1 a {}
#wrap .header_bg header h1 a img {}
#wrap .header_bg header .right_hd {width: calc(100% - 250px);}
#wrap .header_bg header .right_hd .login {
    font-size:0.94rem; letter-spacing:-0.02em; font-weight:600;
    text-align: right; padding-bottom: 7px;
    border-bottom: 1px solid #eee;
}
#wrap .header_bg header .right_hd .login a {margin-right: 20px; color: #aaa;}
#wrap .header_bg header .right_hd .login a:last-child,
#wrap .header_bg header .right_hd nav a:last-child {margin-right: 0;}
#wrap .header_bg header .right_hd nav {
    display: flex; flex-flow: row nowrap;
    height: 100%;
    position: relative;
    font-size:1.13rem; letter-spacing:-0.02em; font-weight:600;
}
#wrap .header_bg header .right_hd nav a {
    display: flex; flex-flow: row nowrap;
    align-items: center;
    padding-top: 20px; padding-left: 15px; margin-right: 50px;
}
#wrap .header_bg header .right_hd nav a:hover::before {
    content: ""; width: 8px; height: 8px;
    background-color:#6A8A00; border-radius: 50px;
    position: absolute; top: 15px; left: 0;
}
#wrap .header_bg header .right_hd nav a:hover {position: relative; bottom: 2px;}
#wrap .header_img {
    height: 55vh;
    background-image: url(../images/main_visual23.jpg);
    background-position: center; background-size: cover;
}
/* ========================================메인시작*/
#wrap main {width: 1260px; margin: 0 auto;}
/* =====================페이지 경로 */
#wrap main .path {
    display: flex; flex-flow: row nowrap; justify-content: flex-end;
    align-items: center;
    padding-top: 15px;
}
#wrap main .path li {}
#wrap main .path li a {}
#wrap main .path li span {
    display: inline-block;
    background-image: url(../images/page_arrow.png);
    width: 16px; height: 16px;
    position: relative; top: 2px;
}
/* =====================메인 헤더 */
/* =====================메인 - 페이지 제목 */
#wrap main .main_top {margin: 110px 0;}
#wrap main .main_top .title {padding: 10px 0; margin-bottom: 58px;}
#wrap main .main_top .title p {font-size:1.63rem; line-height:1.5em; letter-spacing:-0.02em; font-weight:500; color:#6A8A00;}
#wrap main .main_top .title h1 {font-size:3.5rem; line-height:1.3em; letter-spacing:-0.02em; font-weight:700; margin-bottom: 25px;}
#wrap main .main_top .title .hr_title {
    display: inline-block;
    width: 60px; height: 3px; background-color: #6A8A00;
}
/* =====================메인 - 숙소 정보 */
#wrap main .main_top .house_info {}
#wrap main .main_top .house_info p {margin-bottom: 15px;}
#wrap main .main_top .house_info p:last-child {margin-bottom: 0;}
#wrap main .main_top .house_info p span {padding-left: 27px;}
#wrap main .main_top .house_info p:first-child span {
    background: url(../images/Home.png) no-repeat;
    background-position: left center; background-position-y: center; 
}

#wrap main .main_top .house_info p:last-child span {
    background: url(../images/call.png) no-repeat;
    background-position: left center; background-position-y: center; 
}
/* =====================메인 컨텐츠 */
#wrap main .main_btm {}
#wrap main .main_top,.main_btm {text-align: center;}
/* =====================메인 컨텐츠 - 탭 & 지도 */
#wrap main .main_btm .main_b_top {}
#wrap main .main_btm .main_b_top .tap_menu {}
#wrap main .main_btm .main_b_top .tap_menu a:first-child {margin-left: 0;}
#wrap main .main_btm .main_b_top .tap_menu a {
    font-size:1.63rem; line-height:1.5em; letter-spacing:-0.02em; font-weight:500;
    display: inline-block; margin-left: -4px;
    background-color: #eee; padding: 10px 30px;
    border: 2px solid #eee; border-bottom: none;
    position: relative; bottom: -2px; z-index: 40;
}
#wrap main .main_btm .main_b_top .tap_menu a:hover {
    background-color: #fff; color: #6A8A00;
    border: 2px solid #6A8A00; border-bottom: none;
    z-index: 60;
}
#wrap main .main_btm .main_b_top .map_view {
    border-top: 2px solid #6A8A00; padding: 70px 0;
    position: relative; z-index: 50;
}
#wrap main .main_btm .main_b_top .map_view a {width: 960px;}
#wrap main .main_btm .main_b_top .map_view a img {}
/* =====================메인 컨텐츠 - 교통 정보 */
#wrap main .main_btm .traffic_info {
    display: flex; flex-flow: row nowrap;
}
#wrap main .main_btm .traffic_info h2 {
    font-size:2rem; letter-spacing:-0.02em; font-weight:500;
    background-color: #6A8A00; color: #fff; padding: 15px 0;
    border-radius: 50px; margin-bottom: 52px;
}
#wrap main .main_btm .traffic_info .detail_info .info {margin-bottom: 40px;}
#wrap main .main_btm .traffic_info .detail_info .info:last-child {margin-bottom: 0;}
#wrap main .main_btm .traffic_info .detail_info .info h3 {margin-bottom: 20px;}
#wrap main .main_btm .traffic_info .detail_info .info p {margin-bottom: 20px;}
#wrap main .main_btm .traffic_info .detail_info .info h3, h3 > * {font-size:1.38rem; letter-spacing:-0.02em; font-weight:500;}
#wrap main .main_btm .traffic_info .detail_info {text-align: left; padding-left: 30px;}
#wrap main .main_btm .traffic_info .detail_info .info h3 .departure {color: #6A8A00;}
#wrap main .main_btm .traffic_info .detail_info .info h3 img {margin: 0 10px; position: relative; top: 2.5px;}
#wrap main .main_btm .traffic_info .detail_info .info .route {display: flex; flex-flow: row wrap;}
#wrap main .main_btm .traffic_info .detail_info .info .route li {
    background: url(../images/sm_next_arrow.png) no-repeat right center;
    background-size: 18px 18px;
    background-position-y: center;
    padding-right: calc(18px + 7px);
}
#wrap main .main_btm .traffic_info .detail_info .info .route li:last-child {
    background-image: none; padding-right: 0; padding-left: 7px;
}
#wrap main .main_btm .traffic_info .bus_info .detail_info .info .bus,
#wrap main .main_btm .traffic_info .detail_info .info .route li {line-height:1.7em; letter-spacing:-0.02em; color: #6f6f6f;}
/* =====================버스 교통 정보 */
#wrap main .main_btm .traffic_info .bus_info, .subway_info {width: calc(100% / 2); height: 662px;}
#wrap main .main_btm .traffic_info .bus_info {margin-right: 20px;}
#wrap main .main_btm .traffic_info .bus_info h2 {}
#wrap main .main_btm .traffic_info .bus_info .detail_info {}
#wrap main .main_btm .traffic_info .bus_info .detail_info .info {}
#wrap main .main_btm .traffic_info .bus_info .detail_info .info .hr_info {
    display: inline-block; width: 100%; height: 1.5px;
    background-color: #eee; margin: 20px 0;
}
#wrap main .main_btm .traffic_info .bus_info .detail_info .info h3 {}
#wrap main .main_btm .traffic_info .bus_info .detail_info .info h3 .departure {}
#wrap main .main_btm .traffic_info .bus_info .detail_info .info h3 img {}
#wrap main .main_btm .traffic_info .bus_info .detail_info .info .bus {}
#wrap main .main_btm .traffic_info .bus_info .detail_info .info .route {}
#wrap main .main_btm .traffic_info .bus_info .detail_info .info .route li {}
#wrap main .main_btm .traffic_info .bus_info .detail_info .info:nth-child(2) .route:nth-of-type(2) li:nth-child(2) {padding-left: 7px;}
#wrap main .main_btm .traffic_info .bus_info .detail_info .info:nth-child(2) .route:nth-of-type(2) li:nth-child(3) {padding-left: 0;}
/* =====================지하철 교통 정보 */
#wrap main .main_btm .traffic_info .subway_info {}
#wrap main .main_btm .traffic_info .subway_info h2 {}
#wrap main .main_btm .traffic_info .subway_info .detail_info {}
#wrap main .main_btm .traffic_info .subway_info .detail_info .info {}
#wrap main .main_btm .traffic_info .subway_info .detail_info .info h3 {}
#wrap main .main_btm .traffic_info .subway_info .detail_info .info h3 .departure {}
#wrap main .main_btm .traffic_info .subway_info .detail_info .info h3 img {}
#wrap main .main_btm .traffic_info .subway_info .detail_info .info .route {}
#wrap main .main_btm .traffic_info .subway_info .detail_info .info .route li {}
/* =====================메인 컨텐츠 - 지도 버튼 */
#wrap main .main_btm .main_b_btm {margin: 110px 0;}
#wrap main .main_btm .main_b_btm button {
    font-size:1.38rem; letter-spacing:-0.02em;
    border-radius: 50px;
    padding: 15px 29px 15px 20px;
    background: #fff url(../images/btn_unactive.png) no-repeat;
    background-position: 97% center; background-position-y: center;
    background-size: 22px 22px;
    color: #6A8A00; 
    border: 2px solid #6A8A00;
}
#wrap main .main_btm .main_b_btm button:hover {
    background: #6A8A00 url(../images/map_btn.png) no-repeat;
    background-position: 97% center; background-position-y: center;
    background-size: 22px 22px;
    color: #fff; font-weight: 500;
}
#wrap main .main_btm .main_b_btm .nvmap_btn {margin-right: 25px;}
#wrap main .main_btm .main_b_btm .kkomap_btn {}
/* ========================================푸터시작*/
#wrap footer {
    background-color: #5E4B4B;
    color: #fff;
    padding: 57px 80px;
}
#wrap footer .ft_left {letter-spacing:-0.02em;}
#wrap footer .ft_left .ft_menu {margin-bottom: 20px; background-position-y: center;}
#wrap footer .ft_left a {color: #fff;}
#wrap footer .ft_left .ft_menu a {margin: 0 13px;}
#wrap footer .ft_left .ft_menu .hr_ft {
    display: inline-block; 
    background-color: #fff;
    height: 16px; width: 1px;
    position: relative; top: 2px;
}
#wrap footer .ft_left address, p {line-height:1.7em;}
#wrap footer .ft_left address {}
#wrap footer .ft_left p {}