/* CSS 디자인 작성순서 */
/* 1. 대상으로 하는 HTML의 모든 대상을 선택자로 작성하기(속성은 빈중괄호) */
/* 2. 작성 후 디자인에 맞춰서 각 속성과 값 작성하기 */
/* body는 필요한 경우 아니면 생략, body안 태그부터 선택자로 작성하기 */
h1 { background-color: rgba(0, 0, 0, 0.3);}
ol li { background-color: yellow; color: #ff0000;}

/* 선택자 작성하기 예시1 */
.wrap {}
.wrap h2 {}
.wrap p {}
.wrap p em {}
.wrap p#content {}
.wrap p#content span {}
.wrap h3 {}
.wrap p.details {}
.wrap p.details em {}
/* 선택자 작성하기 예시2 */
.all_box {}

.all_box .title {}
.all_box .title>h2 {}
.all_box .title>p {}

.all_box .contents {}
.all_box .contents>h3 {}
.all_box .contents>ul.txt1 {}
.all_box .contents>ul.txt1 li {}
.all_box .contents>ul.txt1 li em {}
.all_box .contents>p.txt2 {}
.all_box .contents>p.txt2 em {}
/* 선택자 작성하기 예시3 */
.wrapper {}

.wrapper>h2 {}
.wrapper h2 span {}
.wrapper p {}

.wrapper .container {}
.wrapper .container h2 {}
.wrapper .container ul.list_wrap {}
.wrapper .container ul.list_wrap li {}
.wrapper .container ul.list_wrap li span {}
.wrapper .container ul.list_wrap li em {}

.wrapper .container dl.define_wrap {}
.wrapper .container dl.define_wrap dt {}
.wrapper .container dl.define_wrap dt span {}
.wrapper .container dl.define_wrap dd {}

#name2 {background-color: lime;}
.name1 {background-color: yellow;}
h3 {background-color: aqua;}
